<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Our Beer</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="assets/js/render-beer.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body class="{{ page.class }}">
    <img src="https://lolev.beer/images/logo.svg"/>
    <section>
      <div v-cloak id="app">
        <h1>our beer</h1>
        <article style="text-align: center" class="beers" v-for="beer in beers">
          <h2>{{ beer.name }}</h2>
          <section>
            <p><i>{{ beer.description }}</i></p>
            <p><b>{{ beer.style }}</b></p>
            <div class="hand">
              <img class="hand-icon" src="https://lolev.beer/assets/Lolev_BW.png">
              <div style="backdrop-filter: blur(.1px)" class="beer-glass"></div>
            </div>
          </section>
        </article>
      </div>
      <div v-cloak id="app-2">
        <h1>in development</h1>
        <article style="text-align: center" class="beers" v-for="recipe in recipes">
          <h2>{{ recipe.title }}</h2>
          <section>
            <p><i>{{ recipe.stylename }}</i></p>
            <p><b>abv </b>{{ recipe.abv }}% <b>ibu</b> {{ recipe.ibutinseth }}</p>
          </section>
        </article>
      </div>
    </section>
  </body>
</html>
