<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>4 Packs To Go - Today's Menu</title>
    <!-- connect to domain of font files -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- optionally increase loading priority -->
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&amp;family=Poppins:wght@500;600&amp;display=fallback">
    <!-- async CSS -->
    <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&amp;family=Poppins:wght@500;600&amp;display=fallback">
    <link rel="stylesheet" href="assets/css/display.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.2/papaparse.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js" defer=""></script>
    <script src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
  </head>
  <body class="kiosk display ">
    <header>
      <img class="logo" src="https://lolev.beer/images/logo.svg"/>
      <h1>4 Packs To Go</h1>
    </header>
    <section data-id="1ByxgaootC5I5WL4J2L94T9yJLBCNODzOCUQYIi1HEPA" data-tab="Beer" v-cloak id="app">
      <article class="items" :data-tap="item.tap" v-if="item.name && item.outOfStock != 'TRUE'" v-for="item in items" :class="{'shockwave': item.attention == 'TRUE'}">
        <h2>${ item.name }</h2>
        <h3>${ item.type } <span class="percent-abv">${ item.abv }</span></h3>
        <p class="prices">
          <span>
            <b>4 Pack</b> <span class="price-value">${ item.fourPack }</span>
          </span>
        </p>
        <p v-if="item.cansAvailable == 'FALSE'" class="sold-out">SOLD AHT</p>
        <p v-else-if="item.salePrice == 'TRUE'" class="sale">On Sale</p>
        <img :src="'https://lolev.beer/assets/beer/' + item.variant + '.png'" />
      </article>
    </section>
  </body>
  
    <script src="/assets/js/render-beer-persist.js?v=1755566789" defer=""></script>
  
</html>
