{% assign count = 0 %}
{% assign currentDate = "now" | date: "%Y-%m-%d" | timezone: "America/New_York" %}

{% assign count = 0 %}
{% assign currentDate = "now" | date: "%Y-%m-%d" | timezone: "America/New_York" %}

{% for event in site.data.events_csv_remote %}
  {% assign eventDate = event.date | date: "%Y-%m-%d" | timezone: "America/New_York" %}
  {% if event.site %}
    {% if eventDate >= currentDate and count < 20 %}
      {% include event.html %}
      {% assign count = count %}
    {% endif %}
  {% endif %}
{% endfor %}
{% endfor %}