@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 300
  src: local(""), url('../fonts/poppins-v15-latin-300.woff2') format("woff2"), url('../fonts/poppins-v15-latin-300.woff') format("woff")

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 400
  src: local(""), url('../fonts/poppins-v15-latin-regular.woff2') format("woff2"), url('../fonts/poppins-v15-latin-regular.woff') format("woff")

@font-face
  font-family: 'Poppins'
  font-style: normal
  font-weight: 500
  src: local(""), url('../fonts/poppins-v15-latin-500.woff2') format("woff2"), url('../fonts/poppins-v15-latin-500.woff') format("woff")

html
  font-family: 'Poppins', sans-serif
  font-size: 18px
  font-weight: 300
  letter-spacing: 3px

body
  position: relative
  font-family: Poppins, sans-serif
  letter-spacing: 2px
  line-height: 1.5em
  margin: 2em
  text-align: center

*
  transition: all .01s ease

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 500
  letter-spacing: 4px
  line-height: 1em

h1
  font-size: 3em
  letter-spacing: 20px
  text-transform: uppercase

h2
  font-size: 2em
  font-weight: 600
  letter-spacing: .5em
  text-transform: uppercase

h3
  font-size: 1.75em
  font-weight: 500

h4
  font-size: 1.5em

article > *:nth-child(even)
  color: white !important

a
  color: #333
  font-weight: 600
  text-decoration: underline
  text-decoration-color: transparent
  transition: text-decoration-color .4s ease
  &:hover
    text-decoration-color: initial

p
  font-family: Lora, serif
  font-size: 1.2em
  // line-height: 1em

body:not(.kiosk)
  h1
    display: none !important
.kiosk
  header img
    left: calc(50% + -50px)
    position: absolute


section
  display: flex
  flex-flow: column
  margin-bottom: 3em
  .kiosk &
    flex-flow: wrap
hide
  display: none

// content blocks
article
  height: 40vh
  position: relative
  transition: color 5s fade-in
  p
    line-height: 2em
.kiosk article p
  margin-left: 1em
  margin-right: 1em
header
  text-transform: uppercase
aside
  display: inline-block
img
  display: block
  margin: 0 auto 1em
  padding-top: 1em
  width: 100px
[v-cloak]
  opacity: 0

// @media (prefers-color-scheme: dark)
body
  background: black
  color: white
  &.kiosk
    overflow-y: hidden
img
  filter: invert(1)

.logo
  height: 102px
  width: 100px

.gf
  display: inline
  margin: 0
  padding: 0
  position: absolute
  top: 20px
  width: 75px

header
  h1,
  img
    display: inline
  h1
    display: inline-block
    font-size: 100px
    letter-spacing: 40px
    margin-bottom: 0
    transform: translateY(-50px)
    width: calc(50% - 10px)

// Beer list
.multi-column
  display: flex
  flex-direction: row

#app,
#app-2
  margin: 0 1em
  width: 50%

@keyframes fadein
  from
    opacity: 0

  to
    opacity: 1
