<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "assets/css/main.css" }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js" defer=""></script>
    <script src="assets/script.js" defer=""></script>
  </head>
  <body>
    <img src="https://lolev.beer/images/logo.svg"/>
    {% for section in site.data.menu %}
      {% for type in section[1] %}
      <section>
        {% if type[0] != empty %}
          <h2>{{ type[0] }}</h1>
        {% endif %}
        <hide>{% increment index %}</hide>
        {% for beer in type[1] %}
          <article>
            <!-- {% increment index %} -->
            <h2>{{ beer.name }}</h2>
            <h3>
              <!-- {{ beer.price }} -->
              {{ beer.type }}
            </h3>
            <h4>
              {{ beer.abv }}
            </h4>
            <!-- <section>
              {{ beer.description }}
            </section> -->
          </article>
        {% endfor %}
      </section>
      {% endfor %}
    {% endfor %}
  </body>
</html>
