<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "assets/css/main.css" }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.js" defer=""></script>
  </head>
  <body class="{{ page.class }}">
    <header>
      <h1>Lolev</h1>
      <img class="logo" src="https://lolev.beer/images/logo.svg"/>
      <h1>Beer</h1>
    </header>
    <section v-cloak id="app">
      <article class="beers" v-for="beer in beers" >
        <h2>${ beer.name }<img v-if="beer.glutenFree" class="gf" src="./assets/gluten-free.svg"></img></h2>
        <h3>${ beer.type }</h3>
        <h4 class="percent">${ beer.abv }</h4>
        {% if page.description %}<p>${ beer.description }</p>{% endif %}
        {% if page.price %}<p>${ beer.price }</p>{% endif %}
      </article>
    </section>
  </body>
  {% if page.refresh %}<script src="/assets/js/render-beer-persist.js" defer=""></script>
  {% else %}<script src="/assets/js/render-beer.js" defer=""></script>{% endif %}
</html>
